@font-face {
    font-family: "Gilroy";
    src: local("Gilroy Light"), local("Gilroy-Light"), url("/fonts/Gilroylight.woff2") format("woff2"), url("/fonts/Gilroylight.woff") format("woff"), url("/fonts/Gilroylight.ttf") format("truetype");
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: "Gilroy";
    src: local("Gilroy ExtraBold"), local("Gilroy-ExtraBold"), url("/fonts/Gilroyextrabold.woff2") format("woff2"), url("/fonts/Gilroyextrabold.woff") format("woff"), url("/fonts/Gilroyextrabold.ttf") format("truetype");
    font-weight: 800;
    font-style: normal;
}

.body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-size: 16px;
    line-height: 22px;
    font-family: "Gilroy", "Tahoma", sans-serif;
    color: rgb(0, 0, 0);

    background-color: #fff;
}

.list {
    list-style: none;
    padding: 0;
    margin-top: 0;
    margin-bottom: 0;
}

.ruble{
    font-family: 'Roboto', sans-serif;
}

.title {
    margin-top: 0;
    font-size: 40px;
    line-height: 48px;
    color: #2D9CDB;
}

.title--center {
    text-align: center;
}

.title--bold {
    margin-bottom: 0;
    font-weight: bold;
    color: #45555F;
}

.title__h4 {
    font-size: 18px;
    line-height: 23px;
    letter-spacing: 0.2px;
    color: #2D9CDB;
    text-align: left;
    margin-bottom: 14px;
}

.finance__footnote {
    margin: 0;
    margin-top: 9px;
    color: #7290A1;
    margin-bottom: 48px;
    width: 376px;
}

.finance {
    padding: 120px calc(50% - 582px);
    background-color: #F5F5FA;
    min-height: 1264px;
    color: #45555F;
}

.finance-wrap {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 16px;
    
}

.finance__contribution {
    box-sizing: border-box;
    background-color: #fff;
    width: 574px;
    min-height: 629px;
    border-radius: 16px 0px 0px 0px;
    padding-top: 31px;
    padding-right: 44px;
    
    padding-left: 40px;
    margin-top: 47px; 
}

.finance__royalty {
    box-sizing: border-box;
    background-color: #fff;
    width: 574px;
    border-radius: 0px 16px 0px 0px;
    min-height: 629px;
    padding-top: 31px;
    padding-right: 44px;
    padding-bottom: 56px;
    padding-left: 40px;
    margin-top: 47px; 
}

.finance__title {
    font-size: 16px;
    line-height: 21px;
    letter-spacing: 0.2px;
    margin-top: 32px;
    margin-bottom: 16px;
}

.finance__investment {
    min-width: 1164px;
    background-color: #fff;
    border-radius: 0px 0px 16px 16px;
    margin-top: 16px;
    display: flex;
}

.finance__start,
.finance__payback {
    box-sizing: border-box;
    width: 579px;
    padding-top: 25px;
    padding-right: 44px;
    padding-left: 40px;
    
}

.finance__item{
    padding-left: 28px;
    position: relative;
    margin-top: 8px;
}

.finance__item::before{
    content: "";
    position: absolute;
    width: 12px;
    height: 2px;
    left: 8px;
    top: 10px;
    background-color:#A6B9C4;;
}

.finance__help{
    position: relative;
    display: inline-block;
}

.finance__help::after{
    cursor: pointer;
    position: absolute;
    content: "";
    width: 22px;
    height: 22px;
    top:1px;
    right: -31px;
    background-image: url(../img/information.svg);
}

.finance__help::after:hover{
    cursor: pointer;
}

/* добавил размер 830 - иначе не красиво перескакивало вторую строчку  */
@media (min-width: 768px) and (max-width: 1168px) {

    .finance-wrap {
        flex-direction: column;
        align-items: center;
    }

    .finance__contribution {
        margin-bottom: 16px;
        border-radius: 16px 16px 0px 0px;
        min-width: 672px;
    }

    .finance__royalty{
        border-radius: 0px 0px 0px 0px;
        margin-top: 0;
        margin-bottom: 16px; 
        min-width: 672px;
    }

    .finance__investment{
        flex-direction: column;
        align-items: center;
        min-width: 672px;
         
    }

}

/* @media (min-width: 393px) and (max-width: 768px) {


    .finance-wrap {
        flex-direction: column;
        align-items: center;
    }

    .finance__contribution {
        margin-bottom: 16px;
        border-radius: 16px 16px 16px 16px;
        max-width: 393px;
        box-sizing: border-box;
    }

    .finance__royalty{
        border-radius: 16px 16px 16px 16px;
        margin-top: 0;
        margin-bottom: 16px; 
        max-width: 393px;
        box-sizing: border-box;
    }

    .finance__investment{
        flex-direction: column;
        align-items: center;
        max-width: 393px;
        border-radius: 16px 16px 16px 16px; 
        box-sizing: border-box;
    }

    .finance__item{
        width: 333px;
        padding-right: 0;
        margin-right: 0;
         box-sizing: border-box;
    }

} */